
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.background{
    filter: blur(7px);
    width:100vw;
    height:100vh;
    position: fixed;
    z-index:-1;
}


/* html{
    
    width: 100vw;
height: 100vh;
    background-image:  url(" ");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
  // filter:blur(2px);
} */

.edit
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color:  rgb(213, 203, 179,0.3);
    padding:10px;
    margin: 10px;
    width:580px ;
    height:250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    top:0px;
    left:30%;
    
}

/*  img{
    filter:blur(10px);
}*/

 
 




.edit input[type="text"] {
    margin-bottom: 25px; 
padding: 10px;

}
.edit input[type="password"]{
    padding: 7px;
    margin-left:3px;
    padding: 10px;
    position:relative;
    left:35px;
}
.btn button
{
    height:80px;
    width:80px;
    border-radius:50%;
    position:relative;
    background-color:#e04a31;
    border:1px solid white;
    position:relative;
    top:30px;
    left:200px;
    

}


.btn_2{
    text-decoration: none;
 
}


 .btn_2 .first-button
{
    display: block;
    height:60px;
    width:100px;
    position:relative;
    background-color:#7CAF00;
    border:1px solid white;
    position:relative;
    top:60px;
    left:0px;
    z-index:-1;
    border-radius:0 0 70px 70px;
    /* color:white; */
}

 
.btn_2 .second-button
{
    height:60px;
    width:100px;
    position:relative;
    background-color:#7CAF00;
    border:1px solid white;
    z-index:-1;
    border-radius:0 0 70px 70px;
    color:white;
}
  


.btn_3 button
{
    height:60px;
    width:100px;
    border-radius:50%;
    position:relative;
    background-color:green;
    border:1px solid white;
    position:relative;
    top:60px;
    left:0px;
    z-index:-1;
    border-radius:0 0 70px 70px;
    

}
.btn_4 button
{
    height:60px;
    width:100px;
    border-radius:50%;
    position:relative;
    background-color:#B368D9;
    border:1px solid white;
    position:relative;
    top:60px;
    left:0px;
    z-index:-1;
    border-radius:0 0 70px 70px;
    

}



.user-image{
     width:32px;
     position:relative;
     top:10px;
     left:-40px;
}
.pass-img{
    height:4%;
    width:5%;
    position:relative;
    top:14px;
    left:-20px;
}

.combine{
display:flex;
justify-content: space-between;

position:relative;
top:-90px;

}
.click_me{
display:flex;
position: relative;
left:-10px;

}


.para{
display:flex;
justify-content: center;
position: relative;
top:50px;
font-size: 30px;

} 
.image{



display:flex;
justify-content: center;
}
.image img{
height:220px;

}
.one{
position:absolute;
top:0px;
left:30px;
}
.para1{
color:#e04a31;

position:absolute;
top:20px;
left:30px;
font-size:35px;
}
.rect{
height:60px;
width:20px;

background-color:#e04a31;
position:relative;
top:10px;
right:30px;

}
.last{
display: flex;
height:50px;
justify-content: center;
position:relative;
top:50px;

}

.image-first{
border:2px solid white;
border-radius: 50%;
padding:3px;
margin:7px;
height:50px;
position: relative;
top:-5px;
width:50px;

}
.image-second{
border:2px solid white;
border-radius: 50%;
padding:5px;
}
