* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* for rms */

.rms-header {
  display: flex;
  justify-content: space-around;
}

/* for lpulive */
.main-container {
  display: flex;
  justify-content: space-around;
}
.main-container .sidebar {
  height: 100vh;
  width: 23%;
  background-color: #2f3e4d;
}
.header .logo {
  display: flex;
}

::placeholder {
  color: white;
}

.main-container .chat {
  height: 100vh;
  width: 77%;
}

input[type="text"] {
  margin: 10px;
  padding: 8px;
  width: 80%;
  background-color: transparent;
  outline: 2px solid white;
  border: none;
  color: white;
}

.main-container .sidebar .search .fa-plus {
  color: white;
  font-size: 20px;
}

.main-container .header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

h1 {
  position: relative;
  top: 15px;
}
.logo {
  gap: 10px;
}

.notify .fa-bell {
  position: relative;
  left: -20px;
}
.notify {
  color: white;
  font-size: 18px;
}

.chat .date {
  display: inline-block;

  background-color: #e1f5fe;
  color: grey;
  border-radius: 25px;
  width: 90px;
  position: relative;
  top: 20px;
}
.chat {
  text-align: center;
}

.chat .header-2 {
  text-align: left;
  /* position: relative;
     top:20px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.chat .sender-name {
  position: relative;
  top: 40px;
  right: -30px;
  color: #a99d24;
}

.chat .info {
  display: inline-block;

  padding: 20px 50px;
  border-radius: 10px;
  position: relative;
  top: 60px;

  background-color: #20bdfe;
}

.chat .sender .info .fa-solid {
  font-size: 50px;
  color: white;
}

.chat .sender {
  text-align: left;
}

.main-container .search .users .first {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid white; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
  margin-top: 15px;
}

.main-container .search .users .first img {
  width: 40px;
  margin: 5px;
}

.main-container .search .users .first h3 {
  color: white;
  font-size: bold;
  margin: 1px;
}

.main-container .search .users .first p {
  margin: 1px;
  color: white;
}
